* {
  margin:0; padding:0;
}

a {
  color: black;
  text-decoration: none
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  min-width: 400px;
  background-color: #e5e5e5;
}
header .headline{
  font-size: 32px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.nav-list-item:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

/* フッターここから */

.footer02 {
  color: #808080;
  background: #e5e5e5;
  text-align: center;
  padding: 30px;
}

.footer02 a {
  color: #808080;
  text-decoration: none;
}

.footer02 a:hover {
  text-decoration: underline;
}

.footer02 .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer02 .menu li {
  margin: 0;
  padding: 0 20px;
}

.footer02 .copyright {
  margin: 0;
  padding: 20px 0 0 0;
}

/* フッターここまで */